Repository ucb-bar/chipyard, pull requests merged in 2019-08, with the labels that each got.

#188 re-add testsuites to compile
  generators/example/src/main/scala/Generator.scala
  generators/example/src/main/scala/TestSuites.scala
Labels: bug

#193 Dev hammer docs
  docs/VLSI/HAMMER.rst
  docs/VLSI/index.rst
Labels: docs

#178 Docs Re-Organization and Edits
  docs/Advanced-Usage/Resources.rst
  docs/Advanced-Usage/index.rst
  docs/Chipyard-Basics/Building-A-Chip.rst
  docs/Chipyard-Basics/Chipyard-Components.rst
  docs/Chipyard-Basics/Chipyard-Generator-Mixins.rst
  docs/Chipyard-Basics/Configs-Parameters-Mixins.rst
  docs/Chipyard-Basics/Development-Ecosystem.rst
  docs/Chipyard-Basics/Initial-Repo-Setup.rst
  docs/Chipyard-Basics/Running-A-Simulation.rst
  docs/Chipyard-Basics/index.rst
  docs/Customization/Adding-An-Accelerator.rst
  docs/Customization/Heterogeneous-SoCs.rst
  docs/Customization/Memory-Hierarchy.rst
  docs/Customization/index.rst
  docs/Getting-Started/index.rst
  docs/Quick-Start.rst
  docs/Simulation/FPGA-Accelerated-Simulators.rst
  docs/Simulation/Software-RTL-Simulators.rst
  docs/VLSI/HAMMER.rst
  docs/VLSI/index.rst
  docs/index.rst
Labels: cleanup, docs

#196 update bullet points in quick-start
  docs/Quick-Start.rst
Labels: docs

#206 Fix firesim test suite generation
  build.sbt
  generators/example/src/main/scala/Generator.scala
  generators/firechip/src/main/scala/Generator.scala
  generators/firechip/src/main/scala/TargetConfigs.scala
  generators/utilities/src/main/scala/TestSuites.scala
Labels: bug

#215 Add TraceGen project
  build.sbt
  common.mk
  docs/Customization/Adding-An-Accelerator.rst
  generators/firechip/src/main/scala/TargetConfigs.scala
  generators/firechip/src/main/scala/TargetMixins.scala
  generators/firechip/src/main/scala/Targets.scala
  generators/tracegen/src/main/scala/Configs.scala
  generators/tracegen/src/main/scala/System.scala
  generators/tracegen/src/main/scala/TestHarness.scala
  generators/tracegen/src/main/scala/Tile.scala
  scripts/check-tracegen.sh
  variables.mk
Labels: enhancement
