Repository ucb-bar/chipyard, pull requests merged in 2019-09, with the labels that each got.

#224 Improve robustness/portability of toolchain shell scripts
  scripts/build-static-libfesvr.sh
  scripts/build-toolchains.sh
  scripts/check-tracegen.sh
  scripts/firesim-setup.sh
  scripts/init-submodules-no-riscv-tools.sh
  scripts/init-vlsi.sh
Labels: cleanup

#226 Regression test cleanup (resolves #217)
  common.mk
  generators/firechip/src/main/scala/Generator.scala
Labels: cleanup

#219 Make parallel support
  .circleci/build-verilator.sh
  .circleci/defaults.sh
  .circleci/do-rtl-build.sh
  .circleci/run-tests.sh
  common.mk
  sims/verilator/Makefile
Labels: enhancement

#221 Comment sim_* make variables
  common.mk
  variables.mk
Labels: cleanup

#218 Ignore docs in CircleCI
  .ciignore
  .githooks/ignore-certain-dirs-commit-msg
  scripts/add-githooks.sh
Labels: enhancement

#235 Updates and additions to documentation
  docs/Advanced-Usage/Resources.rst
  docs/Chipyard-Basics/Chipyard-Components.rst
  docs/Chipyard-Basics/Configs-Parameters-Mixins.rst
  docs/Chipyard-Basics/Running-A-Simulation.rst
  docs/Customization/Adding-An-Accelerator.rst
  docs/Customization/Boot-Process.rst
  docs/Customization/Memory-Hierarchy.rst
  docs/Customization/index.rst
  docs/Generators/RocketChip.rst
  docs/Generators/index.rst
  docs/TileLink-Diplomacy-Reference/Diplomacy-Connectors.rst
  docs/TileLink-Diplomacy-Reference/EdgeFunctions.rst
  docs/TileLink-Diplomacy-Reference/NodeTypes.rst
  docs/TileLink-Diplomacy-Reference/Register-Router.rst
  docs/TileLink-Diplomacy-Reference/Widgets.rst
  docs/TileLink-Diplomacy-Reference/index.rst
  docs/_static/images/rocketchip-diagram.png
  docs/index.rst
  generators/example/src/main/scala/ConfigMixins.scala
  generators/example/src/main/scala/InitZero.scala
  generators/example/src/main/scala/NodeTypes.scala
  generators/example/src/main/scala/PWM.scala
  generators/example/src/main/scala/RegisterNodeExample.scala
  generators/example/src/main/scala/RocketConfigs.scala
  generators/example/src/main/scala/Top.scala
Labels: docs

#241 Replace UnifiedBoomConfig with SmallRv32BoomConfig
  generators/example/src/main/scala/BoomConfigs.scala
Labels: DO NOT MERGE

#243 small doc clarifications + cleanup
  docs/Advanced-Usage/DTM-Debugging.rst
  docs/Advanced-Usage/Resources.rst
  docs/Chipyard-Basics/Configs-Parameters-Mixins.rst
  docs/Customization/Boot-Process.rst
  docs/Customization/Heterogeneous-SoCs.rst
  docs/Customization/Memory-Hierarchy.rst
  docs/Generators/BOOM.rst
  generators/example/src/main/scala/HeteroConfigs.scala
  generators/example/src/main/scala/RocketConfigs.scala
Labels: docs

#253 Fix typo in tutorial config
  generators/example/src/main/scala/RocketConfigs.scala
Labels: bug

#255 add firrtl interpreter to the docs [ci skip]
  docs/Tools/Treadle.rst
Labels: docs

#244 Generators (Rocket Split, Hwacha Intro, SiFive Blocks) Docs Blitz PR
  docs/Chipyard-Basics/Chipyard-Components.rst
  docs/Chipyard-Basics/index.rst
  docs/Customization/Memory-Hierarchy.rst
  docs/Generators/Hwacha.rst
  docs/Generators/Rocket-Chip.rst
  docs/Generators/Rocket.rst
  docs/Generators/SiFive-Generators.rst
  docs/Generators/index.rst
  docs/Quick-Start.rst
  docs/Simulation/Running-A-Simulation.rst
  docs/Simulation/Software-RTL-Simulation.rst
  docs/Simulation/Software-RTL-Simulators.rst
  docs/Simulation/index.rst
  docs/VLSI/Building-A-Chip.rst
  docs/VLSI/index.rst
  generators/example/src/main/scala/ConfigMixins.scala
  generators/example/src/main/scala/RocketConfigs.scala
Labels: docs

#246 SHA3 Docs
  docs/Generators/SHA3.rst
  docs/Generators/index.rst
  docs/_static/images/sha3.png
  generators/example/src/main/scala/RocketConfigs.scala
Labels: docs

#254 [docs] [ci skip] Update generators and quick start so it is clear how…
  docs/Generators/index.rst
  docs/Quick-Start.rst
Labels: docs

#258 Sw docs
  docs/Software/FireMarshal.rst
  docs/Software/Spike.rst
  docs/Software/index.rst
  docs/index.rst
Labels: docs

#250 Notes that building with macOS doesn't really work
  docs/Chipyard-Basics/Initial-Repo-Setup.rst
  docs/Quick-Start.rst
Labels: docs

#252 Basic IceNet and Test Chip IP docs
  docs/Chipyard-Basics/Configs-Parameters-Mixins.rst
  docs/Generators/IceNet.rst
  docs/Generators/TestChipIP.rst
  docs/Generators/index.rst
  docs/_static/images/nic-design.png
Labels: docs

#260 Add boom picture [ci skip]
  docs/Generators/BOOM.rst
  docs/_static/images/boom-pipeline-detailed.png
Labels: docs

#262 Add Verilog MMIO GCD peripheral example
  build.sbt
  docs/Customization/Incorporating-Verilog-Blocks.rst
  docs/Customization/index.rst
  generators/example/src/main/resources/vsrc/GCDMMIOBlackBox.v
  generators/example/src/main/scala/ConfigMixins.scala
  generators/example/src/main/scala/GCDMMIOBlackBox.scala
  generators/example/src/main/scala/RocketConfigs.scala
  generators/example/src/main/scala/Top.scala
  tests/gcd.c
Labels: docs, enhancement

#247 Firrtl Transforms Documentation
  common.mk
  docs/Customization/Firrtl-Transforms.rst
  docs/Customization/index.rst
  docs/Tools/FIRRTL.rst
Labels: docs

#248 FESVR + Spike Description
  docs/Advanced-Usage/Chip-Communication.rst
  docs/Advanced-Usage/DTM-Debugging.rst
  docs/Advanced-Usage/index.rst
  docs/Software/Spike.rst
  docs/_static/images/chip-bringup.png
  docs/_static/images/chip-communication.png
  generators/example/src/main/scala/RocketConfigs.scala
Labels: docs

#256 [docs][ci skip] Top and Testharness info
  docs/Advanced-Concepts/Chip-Communication.rst
  docs/Advanced-Concepts/Resources.rst
  docs/Advanced-Concepts/Top-Testharness.rst
  docs/Advanced-Concepts/index.rst
  docs/Advanced-Usage/index.rst
  docs/Chipyard-Basics/index.rst
  docs/Generators/index.rst
  docs/index.rst
Labels: docs

#249 [docs] Information on debug methodology
  docs/Advanced-Concepts/Debugging-RTL.rst
  docs/Advanced-Concepts/index.rst
  docs/Chipyard-Basics/index.rst
  docs/Simulation/index.rst
Labels: docs
