Repository ucb-bar/chipyard, pull requests merged in 2020-03, with the labels that each got.

#467 Allow user to override MAKE command used by toolchain and openocd build
  scripts/build-util.sh
Labels: enhancement

#466 [Documentation] Fix name of Ubuntu/Debian package "libexpat1-dev".
  scripts/ubuntu-req.sh
Labels: bug, docs

#446 Barstools and chip docs
  docs/Tools/Barstools.rst
  docs/VLSI/Building-A-Chip.rst
Labels: docs

#485 [docs/ci] cleanup docs and add ci to check it
  .circleci/config.yml
  docs/Generators/IceNet.rst
  docs/Makefile
  docs/TileLink-Diplomacy-Reference/Widgets.rst
  docs/Tools/Barstools.rst
  docs/VLSI/Building-A-Chip.rst
Labels: docs

#487 Add Gemmini to README [ci skip]
  README.md
Labels: docs

#484 add documentation on ring network and system bus
  docs/Customization/Memory-Hierarchy.rst
  docs/Generators/TestChipIP.rst
  generators/chipyard/src/main/scala/config/RocketConfigs.scala
Labels: docs
